{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

       <body>
            <div>
                {% if comentarios%}
                    {% for comen in comentarios%} 
                        <p> <b>Matricula </b> </p>
                        <p> {{comen.matricula}}</p>
                        <p> <b>Equipo </b> </p>
                        <p> {{comen.equipo}}</p>
                        <p> <b> Comentario </b> </p>
                        <p> {{comen.comentario}} </p>
                        <p> <b>Ip Equipo </b> </p>
                        <p> {{comen.ipequipo}}</p>
                        <p> <b> Salon </b> </p>
                        <p> {{comen.salon}}</p>
                        <hr>
                        <br>


                    {% endfor %}
                {% else %}
                    <p>No hay</p>
                {% endif %}
            </div>
            </body>

{% endblock %}